// Primary
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
// $softViolet: hsla(278, 74%, 21%, 0.8);
$softViolet: hsl(276, 59%, 60%);
$softVioletCover: hsla(276, 80%, 26%, 0.644);

// Neutral
$white: hsl(0, 0%, 100%);
$slightlyTransparentWhiteMainParagraph: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteHeadings: hsla(0, 0%, 100%, 0.6);

// Fonts
$fontInter: 'Inter', sans-serif;
$fontLexendDeca: 'Lexend Deca', sans-serif;
